---
layout: default
---

<div class='container'>
    <header class="masthead text-center">

      <img class='img-responsive center-block' src="{{site.baseurl}}/images/people/arguslab_fall24.jpg" width="100%" height="100%" />

      <p>
      <!-- <i>Causality and Machine learning. <br> Machine Learning and Deep Learning for Neuroscience.<br>
      Neuroscience for Deep Learning.<br>
      and Machine Learning for Movement/Meta-Science.</i> -->
      <i>We research problems at the intersection of <br>AI, computer security, and society.</i>
      <!-- <i>We study security and privacy issues related to AI models,<br>with a focus on identifying and fixing real-world problems.</i> -->

        <span style="display: block; margin-bottom: 3em"></span>

      <a href="https://github.com/arguslab-duke"><i class="fa fa-github"></i> ArgusLab</a>&nbsp;&nbsp;&nbsp;
      <!-- <a href="https://twitter.com/KordingLab"><i class="fa fa-twitter"></i> KordingLab</a>&nbsp;&nbsp;&nbsp; -->
      <a href="mailto:arguslab@duke.edu"><i class="fa fa-envelope-o"></i> arguslab@duke.edu</a>
      </p>

      <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:center">
          <h4> Join us! </h4>
          <u>We are recruiting PhD students in the 2024-2025 application cycle,</u>  especially students who want to study problems at the intersection of machine learning and applied cryptography. Interested students should apply to Duke Electrical and Computer Engineering or Computer Science and mention Dr. Wenger in their application. 
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">

           <span style="display: block; margin-bottom: 1em"></span>
           <em>Not a PhD student? Not a problem!</em> We are also looking for enthusiastic and motivated undergraduate and masters' students to join the lab. Please email Dr. Wenger if you are interested. 
              <!-- {% capture now %}{{'now' | date: '%s' | minus: 7776000}}{% endcapture %} -->
              <!-- <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0}}{% endcapture %}
                  {% if date > now %} -->
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  <!-- {% endif %} -->
                <!-- {% endfor %} -->
              <!-- </ul> -->
          </div>
        </div >
      </div>



      <span style="display: block; margin-bottom: 3em"></span>


      <!-- <a class="twitter-timeline" href="https://twitter.com/KordingLab" data-widget-id="695051708246941697">Tweets by @KordingLab</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->

      <span style="display: block; margin-bottom: 3em"></span>
      Department of Electrical and Computer Engineering at Duke University<br>
      Fitzpatrick Center, Room 3539, 101 Science Dr., Durham, NC 27705
      <span style="display: block; margin-bottom: 3em"></span>

    </header>
</div>
